.title {
  text-align: center;
  margin-top: 1.5rem;
}

.wrapper {
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 70rem;
}

.border-right {
  border-right: 1px solid #dcdcdc;
}

.list-area {
  margin-top: 2rem;
}

.contact-item {
  margin-top: 0.3rem;
  border: 1px solid #dcdcdc;
  padding: 1rem 0.1rem;
  margin-left: 0.1rem;
  border-radius: 8px;
}

.contact-img {
  width: 100%;
}

.padding-right {
  padding-right: 2rem;
}
.padding-left {
  padding-left: 2rem;
}

.name-style {
  font-weight: 700;
  font-size: 1.2rem;
}

.search-box {
  margin-bottom: 2.5rem;
}
